export POSTGRES_DB=personal_finance
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_HOST=personal_finance_db
export CELERY_BROKER_URL=redis://redis:6379/0
export CELERY_RESULT_BACKEND=redis://redis:6379/0
export API_KEY=w9qbjZ9a.LM0fUXCC5YqEqzrdlOpl0vG8QfPKnQgB